<div class="cuadro">
    <h2 style="text-align: center;">Galeria:</h2>
    <div class="row" style="align-items: center;"> 
    <div class="column">
      <img src="../../assets/halooo.jpg" style="width:100%">
      <img src="../../assets/wz.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="../../assets/fortnite2.jpg" style="width:100%">
      <img src="../../assets/cup.png" style="width:100%">
    </div>  
    <div class="column">
      <img src="../../assets/gears.jpg" style="width:100%">
      <img src="../../assets/fortnite1.jpg" style="width:100%">
    </div>
    <div class="column">
        <img src="../../assets/rocket.jpeg" style="width:100%">
        <img src="../../assets/f21.jpg" style="width:100%">
      </div>
  </div>
</div>
<br>

 