
<div class="cuadro">
    <h2 style="text-align: center;">Game Pass Ultimate</h2>
    <table>
        <tr>
            <td><img src="../../assets/409-4099949_xbox-game-pass-png-transparent-png.png" alt="" style="width: 30%;"></td>
            <td><p>Disfruta de nuestros mas de 100 titulos y de GOLD por solo $259 al mes!</p></td>
        </tr>
    </table>
</div>
<br>
<div class="cuadro">
    <h2 style="text-align: center;">Xbox Live Gold</h2>
    <table>
        <tr>
            <td>O si lo prefieres Xbox Live Gold por $169 al mes
            </td>
            <td><img src="../../assets/gold.png" alt="" style="width: 30%;"></td>
         </tr>
    </table>
</div>
<br>
<div class="cuadro">
    <h2 style="text-align: center;">Games Free to Play</h2>
    <table>
        <tr>
            <td><img src="../../assets/fortnite1.jpg" alt="" style="width: 30%;">
            &nbsp;<img src="../../assets/rocket.jpeg" alt="" style="width: 30%;">
            </td>
             <td>Gratis ahora es GRATIS, disfruta de los juegos Online sin costo.
            </td>
        </tr>
    </table>
</div>
<br>
