
<div class="cuadro">
  <h2 style="text-align: center;">Conoce las consolas que han formado parte de nuestra historia: </h2>
  <br>
  <table>
    <h3>
      <tr>
        <td>{{title}}</td>
        <td><img src="../assets/xblack.jpg" alt="" style="width: 50%;"></td>
        <td><h5>Xbox primera generacion:<br>Con el empezo todo, dio paso a la gran generacion de consolas que conocemos hoy en dia.</h5></td>
      </tr>
      <tr>
        <td>Xbox 360</td>
        <td><img src="../assets/360x.png" alt="" style="width: 50%;"></td>
        <td><h5>Xbox 360:<br>Primer mejora notable de las consolas Xbox, con experiencias unicas gracias al Kinect.</h5></td>
      </tr>
      <tr>
        <td>Xbox One</td>
        <td><img src="../assets/585ea273cb11b227491c350a.png" alt="" style="width: 50%;"></td>
        <td><h5>Xbox One:<br>Aprovechamos al maximo el rendimiento de tu consola, disfruta de la experiencia de Game Pass Ultimate.</h5></td>
      </tr>
      <tr>
        <td>Xbox Series X</td>
        <td><img src="../assets/series.png" alt="" style="width: 50%;"></td>
        <td><h5>Xbox:<br>Conoce la nueva generacion de consolas que tenemos para ti.</h5></td>
      </tr>
    </h3>
  </table>
</div>